.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 60px;
  width: 60px;
  border: none;
  background: green;
  border-radius: 30px;
  cursor: pointer;
}

.button:hover {
  background: #1b1b1cea;
  -webkit-animation: rotate-center 0.3s linear both;
  animation: rotate-center 0.3s linear both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
