/* HEADER */
.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #575858;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidebar-toggle {
  background-color: #434344;
  color: #cccbcb;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* Elimina el box-shadow azul en estado de foco (focus) */
.btn:focus, .btn:active:focus, .btn.active:focus {
  box-shadow: none;
}
