/* Color de fondo */
html {
    background-color: #575858; 
  }

body {
  position: relative; /* Necesario para que el pseudo-elemento se posicione relativamente a este contenedor */
  z-index: 0; /* Asegura que el contenido esté por encima del pseudo-elemento */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(assets/fondoapp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Centra la imagen */
  opacity: 0.25; /* Ajusta la opacidad según necesites */
  z-index: -1; /* Asegura que el pseudo-elemento esté debajo del contenido */
}
