.content {
  flex: 1;
  padding: 10px;
  transition: margin-left 0.3s ease-in-out;
  margin-top: 5em;
}

.content-with-sidebar {
  margin-top: 5em;
  margin-left: 280px;
}

@media (max-width: 768px) {
  .content,
  .content-with-sidebar {
    margin-left: 0;
  }
}
